includes:
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
	tmpDir: "temp"
	level: max
	checkMissingIterableValueType: false

	paths:
		- src
	earlyTerminatingMethodCalls:
		bohyn\PgSql\PgSqlConnection:
			- throwLastError
	ignoreErrors:

	autoload_directories:
#		- src
#		- tests

	universalObjectCratesClasses:
#		- stdClass
